.container {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--bill-view-header-bg-color);
}

.text {
    font-size: 20px;
    color: var(--bill-view-header-text-color);
}

.logo {
    padding: 5px 30px 5px 30px;
}