.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: -webkit-fill-available;
    margin-top: 3vh;
    min-height: 60px;
    max-height: 150px;
    margin-bottom: 1vh;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 600px;
}

.topicsText {
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: -webkit-fill-available;
    margin-left: 2vw;
    /* margin-top: 2vh; */
    margin-right: 2vw;
    margin-bottom: 1vh;
}

.text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.scrollable {
  width: -webkit-fill-available;            /* Your desired width */
  height: 125px;           /* Your desired height */
  overflow-y: auto;        /* Scroll vertically if needed */
  scrollbar-width: none;   /* Firefox: hide scrollbar */
  -ms-overflow-style: none;/* IE/Edge: hide scrollbar */
  scroll-behavior: smooth; /* Smooth scrolling */
  padding: 10px;           /* Optional padding */
}

/* Chrome, Safari, Opera: hide scrollbar */
.scrollable::-webkit-scrollbar {
  display: none;
}

.secondOptionsContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-bottom: 1vh;
}