.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.name {
    width: 100%;
}

.icons {
    display: flex;
    gap: 8px;
}

/* .bookmarkIcon {
    float: right;
} */