.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: var(--menu-bar-bg-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* subtle shadow */
    color: var(--menu-bar-text-color);
}

.leftGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw; /* space between logo and links */
}

.rightGroup {
    display: flex;
    align-items: center;
    gap: 15px; /* space between buttons */
}

/* Optional: style your buttons so they don't stretch */
.signUp, .login {
    width: auto;
    min-width: 100px;
}

p {
    margin: 0;
}
