.container {
    width: 350px;
    height: 400px;
    padding: 20px;
    background-color: var(--card-bg-color);
    border-radius: 12px;

    box-shadow: -1px 1px rgb(0 0 0 / 0.1);
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}