.button {
    height: fit-content;
    width: auto;
    min-width: 100px;

    background: var(--action-button-bg-color) !important;
    color: var(--action-button-text-color) !important;
}

.button:hover {
    background-color: var(--action-button-hover-bg-color) !important;
}