.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    background-color: antiquewhite;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 8px;
}

.textField {
    width: 300px;
}

.actionButton {
    width: 300px;
    margin-bottom: 20px;
}


.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    
    background-color: var(--card-bg-color);
    height: fit-content;
    width: fit-content;
    padding: 3vw;
    border-radius: 8px;
}

.textField {
    width: 300px;
}

.actionButton {
    width: 300px;
    margin-bottom: 20px !important;
}

.signUpHere {
    color: var(--action-text);
}

.logo {
    margin-bottom: 20px;
}