.container {
    display: flex;
    height: calc(100vh - 120px);
    width: 100%;

    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70vw;

    align-items: center;
    background-color: var(--latest-bills-bg-color);
}

.right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30vw;

    align-items: center;
    background-color: var(--tracking-bills-bg-color);
}