.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: -webkit-fill-available;
    margin-top: 3vh;
    margin-bottom: 3vw;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.topicsText {
    margin-bottom: 15px;
}